.header{
    height: 88px;
    display: flex;
    width: 100%;
}

.header__name{
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__h2 {
    color: var(--header-font-color-name);
    font-size: 16px;
    font-weight: 700;
}
.header__nav{
    display: flex;
    padding: 32px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.header__nav__ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.header__nav__ul__li > a{
    text-decoration: none;
    font-weight: 500;
    color: var(--header-color-body);
}
.header__email  a {
    font-weight: bold ;
}